@using DAL
@model List<Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/HomePage.css" />
    <title>HomePage</title>
</head>
<div id="total">
    <div id="header" class="container-fluid col-sm-10 col-sm-offset-1">
        <div class="row">
            <h1 id="title">Home page</h1>
        </div>
    </div>

    <div id="main" class="col-sm-offset-1 col-sm-10">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>My Blog</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/Home/Index">Registration</a></li>
                    <li class="active"><a href="#select1">Home</a></li>
                    <li><a href="/Home/GuestPage">Guest</a></li>
                    <li><a href="#section3">Photos</a></li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div> <br />
                    @{
                        if (ViewBag.Question != null)
                        {
                            <label>@ViewBag.Question.Text</label>
                            foreach (var t in ViewBag.Question.PossibleAnswer)
                            {
                                <div>
                                    <a href="/Home/Vote/@t.ID">
                                        <label>
                                            @t.Text mark
                                        </label>
                                    </a>
                                <br />
                                </div>
                                }
                            }
                        else
                        {
                            <label>Total numbers of voting is: @ViewBag.Result</label>
                        }
                    }
            </div>

            <div class="col-sm-9" id="form">
                @foreach (Post post in Model)
                {
                    <h4><small>RECENT POSTS</small></h4>
                    <hr>
                    <h2>@post.Title</h2>
                    <h5><span class="glyphicon glyphicon-time"></span> Post by @post.Author, @post.Date.Month/@post.Date.Day, @post.Date.Year.</h5>
                    <h5>
                        @foreach (Tag tag in post.Tags)
                        {
                            <span class="label label-success">@tag.Text</span>
                        }
                    </h5>
                    if (post.Text.Length >= 5)
                    {
                            <p>@post.Text.Substring(0, Math.Min(post.Text.Length, 5))</p>
                            <label><a href="/Home/FullPost/@post.ID"><label>Full post...</label></a></label>
                    }
                    else
                    {
                           <p>@post.Text</p>
                    }
                }
                    <br /><br>
                    <br>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3" id="form">
            <h4>Create a new Post:</h4>
            <form role="form" action="/Home/CreatePost" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your name" id="Author" name="Author" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Post Title" id="Title" name="Title" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tags" id="Tags" name="Tags" />               
                 </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" required placeholder="Text" id="Text" name="Text"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
<a href="#" class="scrollup">Scroll</a>
<script src="~/Scripts/Brains.js"></script>